@media screen and (min-width: 768px) {

    .col-md-1_4 {
        flex-basis: 25%;
    }

    .col-md-3_4 {
        flex-basis: 75%;
    }

    .col-md-4_4 {
        flex-basis: 25%;
    }
}

@media screen and (min-width: 992px) {

    .container-nav {
        width: 920px;
        margin: 0 auto;
    }

    .nav-menu ul {
        display: flex;
        align-items: baseline;
        gap: 10px;

    }

    .hamburger-icon {
        display: none;
    }

    .container-lg {
        width: 920px;
        margin: 0 auto;
    }

    .col-lg-1_2 {
        flex-basis: 50%;
    }

    .col-lg-1_4 {
        flex-basis: 25%;
    }

    .col-lg-3_4 {
        flex-basis: 75%;
    }

    .col-lg-4_4 {
        flex-basis: 25%;
    }

    .p-lg-x {
        padding: 0 4rem;
    }

}