:root{
    --color-primary: #0184FD;
    --color-primary-light: #B5DDFF;
    --color-secondary: #9792E4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Altezza Statica da Eliminare ! */
    min-height: 40px;
}

img{
    width: 100%;
    display: block;
}

nav{
    background-color: var(--color-primary);
}

.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color-primary);
    padding: 1.5rem;
    color: white;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-1_2{
    flex-basis: 50%;
}